@border-color: #7d7d7d;
@primary-background: #f45a8d;
.font-size(@size) {
  @media (min-width: 1440px) {
    font-size: @size + px;
  }
}

.oad-width {
}

.oad-height {
}

.point-green {
  width: 5px;
  height: 5px;
  margin-right: 5px;
  border-radius: 100%;
  background-color: green;
}
